@media (max-width: 1265px){
  #header{
    width: 100%;
    padding-left: 0;
  }

  #header img{
    padding-left: 5px;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-collapse, .navbar-inverse .navbar-form{
    background-color: white;
    z-index: -99;
  }
  
  #container1{
    font-size: 0.5em;
  }
}

@media (max-width: 980px) and (min-width: 750px) {
  .navbar-nav {
    margin-top: 30px;
  }

  nav li {
    margin-left: 2px;
    margin-right: 2px;
  }

  .nav > li > a {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
  }
}