/*Fonts*/
@font-face {
    font-family: CoveredByYourGrace;
    src: url("../fonts/CoveredByYourGrace.woff") format('woff'),
    url("../fonts/CoveredByYourGrace.ttf")  format('truetype'),
    url("../fonts/CoveredByYourGrace.otf") format('opentype');
}

@font-face {
    font-family: LemonTuesday;
    src: url("../fonts/LemonTuesday.woff") format('woff'),
    url("../fonts/LemonTuesday.ttf")  format('truetype'),
    url("../fonts/LemonTuesday.otf") format('opentype');
}

html, body{
    font-size: 30px;
    height: 100%;
}

/*Body*/
body{
    margin: 0;
    padding: 0;
    font-family: CoveredByYourGrace;
    color: black;
}

/*Header*/
header{
    background-color: white;
    width:100%;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header img{
    float: left;
    height: 120px;
    margin: 0px;
}

/*Header Div*/
#header{
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
    padding-left: 50px;
}

/*Navigation*/
nav{
    margin: 0 auto;
}

nav ul{
    font-size: 20px;
    padding: 0px;
    list-style-type: none;
    float: right;
    margin-top: 40px;
}

nav li{
    display: inline-block;
    margin: 0;
    margin-left: 12px;
    margin-right: 12px;
}

nav li a{
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav li a:hover{
    color: #77bbbb;
    transition: all 0.5s ease;
}

/*Dropdown*/
nav ul li ul {
    padding: 0;
    margin-top: 35px;
    position: absolute;
    left: 0;
    width: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

nav ul li ul li {
    display: block;
    margin: 0;
}

nav ul li ul li:hover {
    background: #f2f2f2;
    color: #ff1a1a;
}

nav ul li:hover ul{
    display: block;
}

/*Navbar-BootStrap*/
.navbar{
    min-height: 100px;
}

.navbar-brand{
    height: 100px;
    padding: 0;
}

.navbar-nav{
    float: right;
    margin-top: 30px;
}

.navbar-default{
    background-color: white;
    border: none;
	font-size: 20px;
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: black;
}

.navbar-default .navbar-toggle{
    border: none;
    background-color: white;
    transition: all 0.5s ease;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
    background-color: #ffc766;
    transition: all 0.5s ease;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: transparent;
	color: #77bbbb;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}

.dropdown-menu{
    border: none;
    padding: 0;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a{
    color: black;
    transition: all 0.5s ease;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #6bbaa7;
}

.dropdown-menu > li > a{
    padding: 10px 20px;
}

.container{
    width: 100%;
    padding-left: 30px;
}

/*Main Container*/
#mainContainer{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

/*Login*/
#loginMain{
    font-size: 30px;
    background-image: url(../images/background.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	background-size: cover;
}

#login{
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 30%;
}

#login #header{
    text-align: center;
    padding: 20px;
}

/*Login Container*/
#login #loginContainer{
    width: 350px;
    margin: 0 auto;
}

#login #loginContainer #subContainer{
    margin-bottom: 10px;
    white-space: nowrap;
}

#login #loginContainer #subContainer input{
    width: 175px;
}

#login #loginContainer #subContainer select{
    padding: 2px;
    width: 181px;
}

#loginLabel{
    float: left;   
}

#loginInput{
    text-align: right;
}

/*Login Buttons*/
#login #loginContainer #button{
    float: right;
    margin-top: 20px;
}

#login #loginContainer #button button{
    margin-left: 10px;
}

/*Container1*/
#container1{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5em;
}

#container1 h2{
    font-size: 3em;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 1em;
    display: block;
}

.business{
    background-image: url(../images/business.jpg);
}

.request{
    background-image: url(../images/requestDelivery.jpg);
}

.updateCP{
    background-image: url(../images/updateCP.jpg);
}

.updateTC{
    background-image: url(../images/updateTC.jpg);
}

.view{
    background-image: url(../images/viewEvents.jpg);
}

.route{
    background-image: url(../images/route.jpg);
}

.viewE{
    background-image: url(../images/viewE.jpg);
}
/*Container2*/
#container2{
     width: 45%;
     margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 30px;
}

#container2 table tr td, #container2 table tr th{
    width: 5%;
    padding: 2px;
}

#container2 .eventTable{
    table-layout: fixed;
    text-align: center;
}

#container2 .eventTable th{
    text-align: center;
    font-size: 30px;
}

#container2 .eventTable tr td{
    width: 10%;
}

#container2 .updateTable tr td:nth-child(2), #container2 .updateTable tr td:nth-child(4){
    width: 0.01%;
}

#container2 .updateTable tr td:nth-child(2){
    text-align: right;
}

#container2 .updateTable tr td:nth-child(4){
    text-align: left;
}

#container2 .routesTable{
    margin-top: 20px;
}

#container2 .routesTable .h2{
    font-style: italic;
    font-weight: bold;
}
#container2 .routesTable tr:first-child, #container2 .routesTable tr:nth-child(2){
    background-color: #d3c7c5;
}

#container2 .routesTable tr:nth-child(2n+3) {
    background-color: #e9e3e2;
}

#container2 .routesTable tr:nth-child(even) {
    background-color: white;
}

/*Footer*/
footer{
    width: 100%;
    background-color: #8f89a9;
    text-align: center;
    height: 100px;
    position: relative;
    box-shadow: 0px 500px 0px 500px #8f89a9;
}

footer p{
    font-size: 25px;
    line-height: 97px;
    color: white;
    margin: 0;
}

footer p .signature{
    font-family: LemonTuesday;
}

/*Form*/
input, select, textarea, option{
    font-family: CoveredByYourGrace;
    font-size: 25px;
    width: 100%;
}

select{
    padding: 5px;
}

/*Button*/
.button{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    font-family: CoveredByYourGrace;
    transition: all 0.5s ease;
}

.button:hover{
    border: 2px solid #6bbaa7;
    color: #6bbaa7;
    transition: all 0.5s ease;
}

#button{
    margin-top: 25px;
    text-align: center;
}

#button .button{
    font-size: 20px;
    padding: 5px;
}