<!DOCTYPE html>
<html lang="en" ng-app="kps">
    <head>
        <meta charset="UTF-8" />
        <title>Buisiness Monitoring - KPSmart System</title>
        <script>document.write('<base href="' + document.location + '" />');</script>
        <script data-require="angular.js@1.5.x" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular.min.js" data-semver="1.5.11"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="app.js"></script>
        <script src="client.js"></script>
        <script src="businessFigures.js"></script>
        <script src="routes.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Bootstrap jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Styles-->
        <link rel="stylesheet" href="styles/styles.css" />
        <!--Media-->
        <link rel="stylesheet" href="styles/media.css" />

    </head>
    <body ng-controller="MainCtrl">

        <div ng-include="'header.html'"></div>

        <div id="mainContainer">
            <div id="container1" class="business">
                <h2>Overall Business Statistics</h2>
            </div>

            <div id="container2">
                <table class="updateTable">
                    <tr>
                        <th>Total Revenue</th>
                        <td>$</td>
                        <td><input ng-model="businessFigs.totalRevenue" readonly></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Total Expenditure</th>
                        <td>$</td>
                        <td><input ng-model="businessFigs.totalExpenditure" readonly></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Total Count of Events</th>
                        <td></td>
                        <td><input ng-model="businessFigs.eventCount" readonly></td>
                        <td>events</td>
                    </tr>
                    <tr>
                        <th>Amount of Mail Delivered:</th>
                        <td></td>
                        <td><input ng-model="businessFigs.mailDelivered" readonly></td>
                        <td>delivered</td>
                    </tr>
                    <tr>
                        <th>Average Delivery Time:</th>
                        <td></td>
                        <td><input ng-model="businessFigs.avgDeliveryTimes" readonly></td>
                        <td>hours</td>
                    </tr>
                </table>
                <table class="routesTable">
                    <tr>
                        <th colspan="2">Critical Routes</th>
                    </tr>
                    <tr>
                        <td class="h2">From</td>
                        <td class="h2">To</td>
                    </tr>
                    <tr ng-repeat="routes in businessFigs.criticalRoutes">
                        <td>{{routes.origin.toString()}}</td>
                        <td>{{routes.destination.toString()}}</td>
                    </tr>
                </table>
                <div id="button">
                    <button class = "button" ng-click="setBusinessFigs()">Refresh</button>
                </div>
            </div>
        </div>

        <div ng-include="'footer.html'"></div>
    </body>
</html>