<!DOCTYPE html>
<!--KPSmart Front-End -->
<html lang="en" ng-app="kps">

<head>
    <meta charset="UTF-8" />
    <title>KPSmart Postal Management System</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="styles/styles.css" />
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
    <script src="app.js"></script>
</head>

    <body ng-controller="MainCtrl">
        <div id="loginMain">
            <div id="login">
                <div id="header">
                    <img class="logo" src="images/logo.png"/>
                </div>
                <div id="loginContainer">
                    <div id="subContainer">
                        <div id="loginLabel">
                            <label>Username</label>
                        </div>
                        <div id="loginInput">
                            <input type="text" id="username" name="username" ng-model="username">
                        </div>
                    </div>
                    <div id="subContainer">
                        <div id="loginLabel">
                            <label>Password</label>
                        </div>
                        <div id="loginInput">
                            <input type="password" id="password" name="Password" ng-model="password">
                        </div>
                    </div>
                    <div id="button">
                        <button class = "button" ng-click="checkLogin()">Log in</button>
                        <button class = "button" ng-click="cancelLogin()">Cancel</button>
                    </div>
                </div>
                <p ng-bind="print"></p>
            </div>
        </div>
    </body>
</html>