/*Fonts*/
@font-face {
    font-family: CoffeeAndTea;
    src: url("fonts/coffee+teademo-Regular.woff") format('woff'),
    url("fonts/coffee+teademo-Regular.ttf")  format('truetype');
}

html, body{
    height: 100%;
    font-size: 25px;
}

/*Body*/
body{
    margin: 0;
    padding:0;
    font-family: CoffeeAndTea;
    color: black;
}

/*Header*/
header{
    background-color: white;
    width:100%;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header img{
    float: left;
    height: 150px;
    margin: 0px;
}

/*Header Div*/
#header{
    width: 65%;
    margin: 0 auto;
    background-color: transparent;
    padding-left: 50px;
}

/*Navigation*/
nav{
    margin: 0 auto;
}

nav ul{
    font-size: 18px;
    padding: 0px;
    list-style-type: none;
    float: right;
    margin-top: 40px;
}

nav li{
    display: inline-block;
    margin: 0;
    margin-left: 12px;
    margin-right: 12px;
}

nav li a{
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
}

nav li a:hover{
    color: #77bbbb;
    transition: all 0.5s ease;
}

/*Dropdown*/
nav ul li ul {
    padding: 0;
    margin-top: 35px;
    position: absolute;
    left: 0;
    width: 200px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}

nav ul li ul li {
    display: block;
    margin: 0;
}

nav ul li ul li:hover {
    background: #f2f2f2;
    color: #ff1a1a;
}

nav ul li:hover ul{
    display: block;
}

/*Navbar-BootStrap*/
.navbar-inverse{
    background-color: transparent;
    border: none;
}

.navbar{
    min-height: 100px;
}

.navbar-brand{
    height: 100px;
    padding: 0;
}

.navbar-nav{
    float: right;
    margin-top: 30px;
}

.dropdown p{
    margin: 0 10px;
    margin-top: 12px;
}

.dropdown p:hover{
    color: #6bbaa7;
}

.dropdown-menu{
    border: none;
    padding: 0;
    font-size: 16px;
}

.navbar-inverse .navbar-nav > li > a{
    color: black;
    transition: all 0.5s ease;
}

.navbar-inverse .navbar-nav > li > a:hover{
    color: #6bbaa7;
}

.dropdown-menu > li > a{
    padding: 10px 20px;
}

/*Main Container*/
#mainContainer{
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

/*Login*/
#loginMain{
    font-size: 30px;
    background-image: url(images/background.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
	background-size: cover;
}

#login{
    width: 40%;
    margin: 0 auto;
    position: absolute;
    top: 20%;
    left: 30%;
}

#login #header{
    text-align: center;
    padding: 20px;
}

/*Login Container*/
#login #loginContainer{
    width: 350px;
    margin: 0 auto;
}

#login #loginContainer #subContainer{
    margin-bottom: 10px;
    white-space: nowrap;
}

#login #loginContainer #subContainer input{
    width: 175px;
}

#login #loginContainer #subContainer select{
    padding: 2px;
    width: 181px;
}

#loginLabel{
    float: left;   
}

#loginInput{
    text-align: right;
}

/*Login Buttons*/
#login #loginContainer #button{
    float: right;
    margin-top: 20px;
}

#login #loginContainer #button button{
    margin-left: 10px;
}

/*Container1*/
#container1{
    width: 100%;
    height: 20vw;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

#container1 h2{
    font-size: 7em;
    color: white;
    vertical-align: middle;
    line-height: 20vw;
}

.business{
    background-image: url(images/business.jpg);
}

.request{
    background-image: url(images/requestDelivery.jpg);
}

.updateCP{
    background-image: url(images/updateCP.jpg);
}

.updateTC{
    background-image: url(images/updateTC.jpg);
}

.view{
    background-image: url(images/viewEvents.jpg);
}

.route{
    background-image: url(images/route.jpg);
}

/*Container2*/
 #container2{
     width: 50%;
     margin: 0 auto;
     margin-top: 30px;
 }

/*Form*/
input, select, textarea, option{
    font-family: CoffeeAndTea;
    font-size: 25px;
}

/*Button*/
.button{
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    font-family: CoffeeAndTea;
    transition: all 0.5s ease;
}

.button:hover{
    border: 2px solid #6bbaa7;
    color: #6bbaa7;
    transition: all 0.5s ease;
}