<!DOCTYPE html>
<html lang="en" ng-app="kps">
    <head>
        <meta charset="UTF-8" />
        <title>Update Transport Cost - KPSmart System</title>
        <script>document.write('<base href="' + document.location + '" />');</script>
        <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="app.js"></script>
        <script src="client.js"></script>
        <script src="events.js"></script>
        <script src="routes.js"></script>
        <script src="businessFigures.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Bootstrap jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Styles-->
        <link rel="stylesheet" href="styles/styles.css" />
        <!--Media-->
        <link rel="stylesheet" href="styles/media.css" />
    </head>
    <body ng-controller="MainCtrl">
        <div ng-include="'header.html'"></div>

        <div id="mainContainer">
            <div id="container1" class="updateTC">
                <h2>Update Transport Cost</h2>
            </div>
            <div id="container2">
                <table class="updateTable">
                    <tr>
                        <th>Origin</th>
                        <td></td>
                        <td><input class = "text" ng-model="transportFields.origin"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Destination</th>
                        <td></td>
                        <td><input ng-model="transportFields.destination"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Transport Firm</th>
                        <td></td>
                        <td><input ng-model="transportFields.transportFirm"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Type of Transport</th>
                        <td></td>
                        <td>
                            <select ng-model="transportFields.transportType">
                                <option ng-repeat = "transport in transportTypes">{{transport}}</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Price per gram </th>
                        <td>$</td>
                        <td><input class = "text" ng-model="transportFields.pricePerGram"></td>
                        <td>/gram</td>
                    </tr>
                    <tr>
                        <th>Price per cubic cm </th>
                        <td>$</td>
                        <td><input class = "text" ng-model="transportFields.pricePerCC"></td>
                        <td>/cm<sup>3</sup></td>
                    </tr>
                    <tr>
                        <th>Departure Day</th>
                        <td></td>
                        <td>
                            <select ng-model="transportFields.departureDay">
                                <option ng-repeat = "day in days">{{day}}</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Departs Every</th>
                        <td></td>
                        <td><input ng-model="transportFields.departsEvery"></td>
                        <td>hours</td>
                    </tr>
                    <tr>
                        <th>Trip Duration</th>
                        <td></td>
                        <td><input ng-model="transportFields.duration"></td>
                        <td>hours</td>
                    </tr>
                </table>
                <div id="button">
                    <button class="button" ng-click="sendUpdatedTransportCost()">Update</button>
                </div>
            </div>
        </div>

        <div ng-include="'footer.html'"></div>
    </body>
</html>