<!DOCTYPE html>
<html lang="en" ng-app="kps">
    <head>
        <meta charset="UTF-8" />
        <title>Update Customer Price - KPSmart System</title>
        <script>document.write('<base href="' + document.location + '" />');</script>
        <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="app.js"></script>
        <script src="client.js"></script>
        <script src="events.js"></script>
        <script src="businessFigures.js"></script>
        <script src="routes.js"></script>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Bootstrap jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!--Styles-->
        <link rel="stylesheet" href="styles/styles.css" />
        <!--Media-->
        <link rel="stylesheet" href="styles/media.css" />
    </head>
    <body ng-controller="MainCtrl">
        <div ng-include="'header.html'"></div>

        <div id="mainContainer">
            <div id="container1" class="updateCP">
                <h2>Update Customer Price</h2>
            </div>
            <div id="container2">
                <table class="updateTable">
                    <tr>
                        <th>Origin</th>
                        <td></td>
                        <td><input ng-model="customerPriceFields.origin"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Destination</th>
                        <td></td>
                        <td><input ng-model="customerPriceFields.destination"></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th>New Price per gram:</th>
                        <td>$</td>
                        <td><input ng-model="customerPriceFields.pricePerGram"></td>
                        <td>/gram</td>
                    </tr>
                    <tr>
                        <th>New Price per cubic cm:</th>
                        <td>$</td>
                        <td><input ng-model="customerPriceFields.pricePerCubic"></td>
                        <td>/cm<sup>3</sup></td>
                    </tr>
                    <tr>
                        <th>Mail Priority</th>
                        <td></td>
                        <td>
                            <select ng-model="customerPriceFields.mailPriority">
                                <option ng-repeat = "prior in priority">{{prior}}</option>
                            </select>
                        </td>
                        <td></td>
                    </tr>
                </table>
                <div id="button">
                    <button class="button" ng-click="sendUpdatedCustomerPrice()">Update</button>
                </div>
            </div>
        </div>

        <div ng-include="'footer.html'"></div>
    </body>
</html>